.attemptContainer{
    display: flex;
    margin: 10px;
    border: 1px solid black;
    flex-direction: row;
    width: 70%;
}

.attemptColorsContainer{
    display: flex;
    flex-direction: row;
}

.attemptHintContainer{
    display: flex;
    flex-wrap: wrap;
    width: 15%;
}

.checkSolutionContainer {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
}